/.git
/.idea
/FinanceAPI/data/
/FinanceAPI/bin
/FinanceAPI/obj
/FinanceAPI/appsettings.json
/FinanceAPI/appsettings.Development.json
/Frontend
*.dotsettings.user
/FinanceAPI.Tests/obj
/FinanceAPI.Tests/bin
/WebApp
_Frontend